body {
    margin: 0px;
}
#spielfeld {
    width: 100vw;
    height: 90vh;
    background-color: goldenrod;
}

.header {
    background-color: black;
    height: 10vh;
    width: 100vw;
    color: #fff;
}
